@media all and (min-width: 1024px) {
    .cardsList {
      padding: 40px 0;
    }

    .loadButton {
      display: block;
      padding: 15px;
      background-color: #ccc;
      text-align: center;
      width: 150px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid black;
      align-items: center;
      margin: 0 auto;
    }
  }
